@{
    ViewData["Title"] = "PayPal Payment";
}
@using Cars.BLL.ModelVM.Rent
@using Cars.BLL.Service.Abstraction
@model CreateRentVM
@inject ICarService carService
<script src="https://www.paypal.com/sdk/js?client-id=@(ViewBag.PayPalClientId)&currency=USD"></script>
@{
    var duration = (Model.StartDate - Model.EndDate).Days;
            var car  = await carService.GetById(Model.CarId);
            var totalAmount = (duration * car.PricePerDay).ToString();
}

<div class="mx-auto p-4 rounded border shadow" style="width: 420px;">
	<h2 class="text-center mb-5">Complete your order</h2>
	<div class="form-group mb-3">
		<label class="form-label">Total Amount ($)</label>
		<input class="form-control" type="number" id="totalAmount" step='0.01' />
	</div>
	<br />
	<div id="notification-container"></div>
	<div id="paypal-button-container"></div>
</div>


<script>
            paypal.Buttons({
                async createOrder() {
                    const response = await fetch("/Payment/createOrder", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            total: document.getElementById("totalAmount").value
                        })
                    });

                    const order = await response.json();

                    return order.id;
                },
        async onApprove(data) {
        // Capture the funds from the transaction.
        const response = await fetch("/Payment/CompleteOrder", {
          method: "POST",
          headers: {
                  "Content-Type": "application/json",
            },

          body: JSON.stringify({
            orderID: data.orderID
          })
        })

        const details = await response.json();

        // Show success message to buyer
        if(details == "success")
        {
            document.getElementById("notification-container").innerHTML = `
                <div class='alert alert-success alert-dismissible fade show' role='alert'>
                    <strong>Payment Completed Successfully!</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            `;
        }
        else
        {
            document.getElementById("notification-container").innerHTML = `
                <div class='alert alert-danger alert-dismissible fade show' role='alert'>
                    <strong>Payment Failed! Please retry later.</strong>
                    <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                </div>
            `;
        }
        
    },

                onCancel(data) {
    document.getElementById("notification-container").innerHTML = `
        <div class='alert alert-danger alert-dismissible fade show' role='alert'>
            <strong>Payment Canceled!</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    `;
},

onError(err) {
    document.getElementById("notification-container").innerHTML = `
        <div class='alert alert-danger alert-dismissible fade show' role='alert'>
            <strong>An error occured! Please retry later.</strong>
            <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
        </div>
    `;
}

            }).render('#paypal-button-container');
        </script>
